<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">disclaimer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        the name of this website and all other references on projects created by me, brody king, have no affiliation or
        relationship with the name-brand medication benadryl.
        <br>
        it is used in a satirical manor, not as an impersonation attempt.
        <div class="border rounded mt-2 pt-2 mb-2 pb-2 fw-bold">
        if you are looking for the actual benadryl medication, goto
        <a href="https://www.benadryl.com/">https://www.benadryl.com/</a>
        </div>
        this website and affiliate projects do not and never will sell medication.
      </div>
    </div>
  </div>
</div>
<div class="container border-top mt-3 pt-3 mb-3">
  <p class="footer-p">© 2025 brody king. all rights reserved.</p>
  <a href="#" class="footer-btn" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">this site has no
    affiliation with the medication benadryl.</a>
</div>
