@font-face {
    font-family: SF-Regular;
    src: url('/assets/fonts/sfregular.OTF');
}
@font-face {
    font-family: SF-Medium;
    src: url('/assets/fonts/sfmedium.OTF');
}
@font-face {
    font-family: SF-Bold;
    src: url('/assets/fonts/sfbold.OTF');
}

.disc {
    font-size: 0.9em;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

body {
    font-family: SF-Regular;
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
}

main {
    padding: 20px;
}

h1,h2,h3 {
    font-family: SF-Bold;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

nav {
    padding: 0px 0px 7px 0px!important;
}

[data-bs-theme=dark] .navbar-brand {
    color: #FC8BF2!important;
}

[data-bs-theme=dark] .navbar-brand:hover {
    color: #ffbcf9!important;
    text-decoration: none;
}

.nav-link > .bi, .dropdown-item > .bi {
    padding-right: 2px!important;
    vertical-align: -5%!important;
}

.nav-link:hover,.dropdown-item:hover,.btn:hover {
    text-decoration: none!important;
}

.dropdown-item:active {
    background-color: #FC8BF2;
    color: black;
}
.dropdown-item:active:hover {
    color: black;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

.btn > .bi {
    margin-left: 4px;
}

b,strong {
    font-family: SF-Bold!important;
}
a {
    text-decoration: none;
}
[data-bs-theme=dark] a {
    color: #FC8BF2;
}
[data-bs-theme=dark] a:hover {
    text-decoration: underline;
    color: #ffbcf9;
}
[data-bs-theme=dark] .btn,.active {
    background-color: #fc8bf2!important;
    color: #212529!important;
    border-color: #212529!important;
}
[data-bs-theme=dark] .btn:hover,.active:hover {
    background-color: #ac5da6!important;
    color: #212529!important;
    border-color: #212529!important;
}

[data-bs-theme=dark] #desktopbanner {
    color: #FC8BF2;
}

[data-bs-theme=dark] .form-check-input:checked {
    background-color: #dc64d2;
    border-color: #dc64d2;
}

#mobilebanner {
    display: none;
}

@media only screen 
and (max-width : 700px) {

    #desktopbanner {
        display: none;
    } 

    #mobilebanner {
        display: block;
    }

}